@import 'tailwindcss';

@layer base {
	html {
		height: 100%;
		scroll-behavior: smooth !important;
	}
}

@theme {
	--color-midnight: #131b2e;
	--color-midnightTwo: #0f172a;
	--color-pearl_perfect: #fbf9e4;
	--color-black: #000000;
	--color-white: #d8e3fb;
	--color-green: #1e6e2e;
	--color-light_green: #22c55e;
	--color-grey: #eeecec;
	--color-blackRed: #27141a;
	--color-whiteTwo: rgba(251, 249, 228, 0.06);
	--color-black_green: rgba(123, 218, 138, 0.12);
	--color-border_green: rgba(123, 218, 138, 0.3);
	--color-light_grey: rgba(18, 44, 79, 0.05);
	
	--font-bad_script: var(--font-bad_script-mono);
	--font-playfair_display: var(--font-playfair_display-sans);
	--animate-tickerscroll: tickerScroll 30s linear infinite;
	--animate-moveUp: moveUp 3s cubic-bezier(0.45, 0, 0.55, 1) infinite;

	@keyframes tickerScroll {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-50%);
		}
	}

	@keyframes moveUp {
		0% {
			transform: translateY(0);
		}

		50% {
			transform: translateY(-15px);
		}

		100% {
			transform: translateY(0);
		}
	}
}

.gradient {
	background-image: linear-gradient(
		90deg,
		hsl(214deg 63% 19%) 0%,
		hsl(215deg 65% 20%) 8%,
		hsl(215deg 67% 20%) 17%,
		hsl(215deg 68% 21%) 25%,
		hsl(215deg 70% 21%) 33%,
		hsl(215deg 71% 22%) 42%,
		hsl(215deg 72% 22%) 50%,
		hsl(215deg 74% 23%) 58%,
		hsl(215deg 75% 23%) 67%,
		hsl(215deg 76% 24%) 75%,
		hsl(215deg 77% 24%) 83%,
		hsl(215deg 78% 25%) 92%,
		hsl(214deg 80% 25%) 100%
	);
}
